boto3==1.37.9
gradio==5.20.1
langchain==0.3.20
langgraph-cli[inmem]
langchain_huggingface
langchain_community==0.3.19
langchain-mongodb
langgraph-checkpoint-mongodb
langchain_core==0.3.43
langchain_openai==0.3.8
langchain_text_splitters==0.3.6
langgraph==0.3.5
langsmith==0.3.13
pydantic==2.10.6
pytest==8.3.5
python-dotenv==1.0.1
tavily_python==0.5.1
typing_extensions==4.12.2
langgraph-checkpoint-sqlite
accelerate
torch
matplotlib
spaces